.services__block {
   width: 100%;
}
.accord__item {
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   margin: 80px 0;
}

.accordion {
   width: 100%;
}
.accordion__item {
   margin-bottom: 12px;
   border-top: 1px solid #606060;
   
   transition: all .3s ease-in;
}
.accordion__item:last-child {
   border-bottom: 1px solid #606060;
}
.accordion__num {
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 34px;

   color: #FFFFFF;
   margin-right: 72px;
}

.accordion__title {
   font-weight: 600;
   font-size: 24px;
   line-height: 34px;
   
   color: #B09355;
   padding: 50px 0;

   position: relative;
   cursor: pointer;
   transition: all .3s ease-in-out;
}

.accordion__title.active {
   background: transparent;
}

.accordion__item:hover .accordion__title{
   color: #fff;
}

.accordion__title::after,
.accordion__title::before {
   content: ' ';
   width: 14px;
   height: 1px;
   background: #fff;
   position: absolute;
   top: 65px;
   transition: all .3s ease;
}

.accordion__title::before {
   transform: rotate(45deg);
   right: 28px;
}
.accordion__title::after {
   transform: rotate(-45deg);
   right: 18px;
}
.accordion__title.active::before {
   transform: rotate(-45deg);
   right: 28px;
}
.accordion__title.active::after {
   transform: rotate(45deg);
   right: 18px;
}
.accordion__title.active::before,
.accordion__title.active::after {
   background: #fff;
}
.accordion__title::after {
   right: 18px;
}

.accordion__text {
   display: none;
   padding: 16px 19px 16px 105px;
   background: transparent;
      
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
}
.accordion__text p{
   margin-bottom: 18px;
}

.active {
   color: #B09355;
   background: transparent;
}



@media screen and (max-width: 1024px){   
   .accord__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   
   .accordion {
      max-width: 100%;
   }
}

@media screen and (max-width: 463px){   
   .accord__img {
      width: 300px;
   }
}

@media screen and (max-width: 390px){   
   .accord__img {
      width: 250px;
   }
}