.sertific {
   margin-bottom: 134px;
}

.services__list {
   display: flex;
   justify-content: space-between;
}

.services__link {
   display: flex;
   align-items: center;
   max-width: 470px;
}

.services__img {
   width: 159px;
   margin-right: 40px;
}

.services__title {
   font-weight: 600;
   font-size: 1.5rem;
   line-height: 34px;

   color: #B09355;

   margin-bottom: 24px;
}

.services__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;

   color: #FFFFFF;
}