.slider {
   padding: 134px 0 275px 0;
}

.slider__title {
   font-weight: 700;
   font-size: 3.625rem;
   line-height: 71px;
   text-transform: uppercase;

   color: #FFFFFF;

   margin-bottom: 34px;
}

.slider__text {
   max-width: 577px;

   font-weight: 400;
   font-size: 1.25rem;
   line-height: 34px;

   color: #FFFFFF;
}

.slider__list {
   position: relative;
}

/* Navigation */



/* callback */
.callback {
   position: absolute;
   bottom: 0;
   right: 0;
   background: #fff;
   padding: 28px 44px;
   transition: all .3s ease-in;
}

.callback__link {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}
.callback:hover .callback__text  {
   color: #B09355;
}
.callback:hover .callback__img  {
   background: #99804a;
}

.callback__img {
   background: #B09355;
   border-radius: 100%;
   padding: 21px;
   transition: all .3s ease-in;
}

.callback__text {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5rem;
   text-transform: uppercase;

   color: #333333;

   margin-left: 24px;
   transition: all .3s ease-in;
}