/* Default */
@import "reset.css";

/* Block */
@import "header.css";
@import "about.css";
@import "contact.css";
@import "accord.css";
@import "slider.css";
@import "humb-menu.css";

@import "footer.css";

/* Global */
.container {
   max-width: 1150px;
   margin: 0 auto;
   
   color: #FFFFFF;
}

body {
   font-family: 'Montserrat', sans-serif;

   background: #333333;
}

/* Title */
.title-section {
   font-weight: 400;
   font-size: 1.25rem;
   line-height: 34px;
   color: #ADADAD;
   text-transform: uppercase;

   min-width: 100px;
   margin-right: 100px;
}
.title-block {
   font-weight: 600;
   font-size: 2.875rem;
   line-height: 60px;
   
   color: #FFFFFF;
   max-width: 70%;
}

._text-center {
   text-align: center;
}
._mb-30 {
   margin-bottom: 30px;
}
._mb-20 {
   margin-bottom: 20px;
}
._mt-60 {
   margin-top: 60px;
}
._mb-60 {
   margin-bottom: 60px;
}
._mb-70 {
   margin-bottom: 70px;
}
._mt-80 {
   margin-top: 80px;
}

/* Animation text */
.element-animation {
   opacity: 0;
   transform: translateY(20%);
 }
 
 .element-animation.element-show {
   opacity: 1;
   transition: all 1s;
   transform: translateY(0%);
}

@media screen and (max-width: 1024px){   
   
}

@media screen and (max-width: 1260px){   
   .title-section {
      margin-bottom: 20px;
   }
   .container {
      padding: 0 15px;
   }
}